---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      
      <br />
      My primary tools and languages of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Php</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>C++</li>
        <li>Java</li>
        <li>Python</li>
        <li>Flutter</li>
        <li>Dart</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I am passionate about content, photography and videography. I make youtube content for students and guide them on Career and Coding.
    </p>
  </div>
</Card>
